<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>domainaddy</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<div class="container">
			<p class="text">domain<br>addy,<br>not<br>daddy<br></p>
		</div>
	</body>
</html>
